class = mobile-menu

.{class} {
  height: 100%;
  width: 225px;
  background-color #5e626f;
  padding: 20px 0;
  overflow: auto;

  &__link {
    display block;
    padding: 10px 16px;
  }

  &__icon {
    color: white;
    display inline-block;
    vertical-align middle;
  }

  &__text {
    color: white;
    display inline-block;
    vertical-align middle;
    margin-left: 16px;
    font-size: 12px;
  }
}