# npm #
# node_modules/
node_modules/
ui/tools/apiConfig.js
ui/tools/srcServer.js
DeploymentZipes/

# OSX #
.DS_Store
.AppleDouble
.LSOverride


# Logs #
*.log
npm-debug.log*

# environment files #
.env

# Webstorm #
.idea
package-lock.json
ui/dist
